$controlHeight: 68px;
$chartHeight: calc(55% - #{$controlHeight});

:host {
  display: block;
  height: 100%;
  width: 100%;
}

p {
  font-size: 22px;
}

#controls {
  align-items: center;
  background-color: #565656;
  bottom: 0;
  color: #fff;
  display: flex;
  padding: 10px;
  position: absolute;
  width: 100%;

  * {
    user-select: none;
  }

  mat-icon {
    $size: 48px;
    cursor: pointer;
    font-size: $size;
    height: $size;
    width: $size;
  }

  mat-slider {
    $color: #ffd740;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;

    &.mat-slider::ng-deep {
      .mat-slider-track-fill {
        background-color: $color;
      }

      .mat-slider-thumb {
        height: 30px;
        width: 30px;
        background-color: $color;
        border: 2px solid $color;
        bottom: -15px;
        right: -15px;
      }
    }

    &.mat-slider-min-value:not(.mat-slider-thumb-label-showing)::ng-deep .mat-slider-thumb {
      background-color: $color;
      border: 2px solid $color;
    }
  }

  ::ng-deep .disable-animation * {
    transition: none !important;
  }
}

#header {
  background-color: #fff;
  display: flex;
  height: 3%;
  padding-top:10px;

  .header-div {
    padding-top:3px;
    border-bottom: 2px solid #E6E6E6;
  }
  .dr-line {
    border-color: #64C204;
  }

  .text-header {
    font-family:'Roboto-Regular';
    font-size:22.7511px;
    text-transform: capitalize;
  }

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 45%;

    .dr-header {
      color: #64C204;
      fill: #64C204;
    }



/*
    &:first-child {
      border-right: 1px #8e8e8e solid;
    }

    &:last-child {
      border-left: 1px #8e8e8e solid;
    }
*/
  }

 /* > .legend-table {
      width: 15%;  
      padding: 15px;
      padding-top: 2em;
      display: unset;
      font-size: 1.3em;
    }
*/

  .legend-div {
      display: block;
      padding-bottom: 5px; 
  }
}

#vis {
  background-color: #fff;
  border-bottom: 1px #8e8e8e solid;
  display: flex;
  height: 65%;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;

  }

  > .legend-table {
      width: 50%;  
      padding: 15px;
      padding-top: 1em;
      display: unset;
      font-size: 1.3em;
      align-items: center;
      justify-content: center;
    }

  .legend-buildings {
    padding: 15px;
    p {
      text-align: center;
      line-height: 1.2em;
    }
  }

  .graybg {
    background-color: #F2F2F2;
    min-height:70px;
    max-height: 70px;
    text-align: center;
    padding: 2px;
  }

  .graytext {
    color: #8B8B8B;
    font-size: 1.1em;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .legend-icon {
    height: 50px;
  }

  .thermal-div {
    text-align:center;
    align-items: center;
    justify-content: center;
  }
  
  .thermal-legend {
    height: 50%;
    width: 50%;
  }

  .thermal-text {
    font-weight: bold;
    font-size: 22px;
  }

  .square {
    min-width: 10px;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    display: inline-block;
  }
}

.big-text {
  font-size: 1.5em;
}

#charts {
  background-color: #fff;
  border-top: 1px #8e8e8e solid;
  bottom: $controlHeight;
  height: $chartHeight;
  //position: absolute;
  width: 100%;

  > div:first-child {
    width: 80%;
  }

  > div:last-child {
    right: 0;
    width: 40%;
  }
}

.chart {
  overflow: hidden;
  margin-top: 10px !important;

  ::ng-deep svg g[opacity='0.3'] {
    display: none;
  }
}
