<div id="header">
  <div class="header-div">
    <h2 class="text-header">BASELINE</h2>
  </div>
  <div class="legend-table"></div>
  <div class="header-div">
    <h2 class="text-header dr-header">MODIFIED - DR</h2>
  </div>

</div>
<div id="vis">
  <div>
    <app-graphic type="baseline" [data]="baseData"></app-graphic>
  </div>
  <div class="legend-table">
    <div class="legend-buildings">
      <p><span class="big-text">148</span>  Buildings</p>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <div class="graybg" fxFlex="35" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="40" ><img class="legend-icon" src="assets/img/evcharging.svg" alt="ev charging icon" /></div>
          <div fxFlex="30" class="big-text">{{ infoEV.baseline }}</div>
        </div>
        <div class="graybg" fxFlex="30" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="graytext" style="text-align: center;">Electric Vehicles Charging</p>
        </div>
        <div class="graybg" fxFlex="35" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="30" class="big-text">{{ infoEV.dr }}</div>
          <div fxFlex="40" ><img class="legend-icon" src="assets/img/evcharging.svg" alt="ev charging icon" /></div>
        </div>         
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <div class="graybg" fxFlex="35" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="40" ><img class="legend-icon" src="assets/img/acon.svg" alt="AC on icon" /></div>
          <div fxFlex="30" class="big-text">100</div>
        </div>
        <div class="graybg" fxFlex="30" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="graytext">Buildings with Air Conditioning Active</p>
        </div>
        <div class="graybg" fxFlex="35" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="30" class="big-text">100</div>
          <div fxFlex="40" ><img class="legend-icon" src="assets/img/acon.svg" alt="AC on icon" /></div>
        </div>         
      </div>
      <div fxLayout="row">
        <div class="legend-buildings" fxLayout="column" fxFlex="100">
          <p class="thermal-text">Thermal Comfort Range (PMV)</p>
          <img src="assets/img/thermal-comfort-range.svg" alt="thermal comfort ranges legend" class="thermal-legend" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-graphic type="demand flexibility" [data]="dfData"></app-graphic>
  </div>
</div>
<div id="charts" fxLayout="row">
  <div fxFlex="80" fxLayout="column" fxFlexOffset="10">
    <div id="chart-power" fxFlex="50" fxFlexOffset="2" class="chart"></div>
  </div>
</div>
<div id="controls">
  <mat-icon aria-hidden="false" (click)="togglePlaying()">{{ playing ? 'pause' : 'play_arrow' }}</mat-icon>
  <mat-slider class="disable-animation" [min]="timeIndex.min" [max]="timeIndex.max" [(ngModel)]="timeIndex.current" (input)="onSliderChange($event)"></mat-slider>
</div>
